.header_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1014px;
  height: 82px;
}

.banner_ad {
  float: right;
}

.container {
  max-width: 1014px;
  margin-left: 50px;
}

.menu {
  margin-top: 53px;
}

.menu_inner {
  margin-top: 34px;
}

.main_products {
  display: flex;
  flex-wrap: wrap;
}

.banner {
  max-width: 351px;
  height: auto;
  text-align: center;
}

.basket {
  margin-top: 50px;
}

.basket_price {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  max-width: 916px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
}

.basket_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  max-width: 916px;
  height: 120px;
  border: 1px solid black;
  border-radius: 15px;
}

.footer {
  background-color: #f8f8f8;
  width: 1366px;
  height: 215px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  margin-top: 50px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  margin-right: 50px;
}

.container {
  height: 1500px;
  width: 1000px;
}

.order {
  max-width: 662px;
  max-height: auto;
  /* 232px */
}

.order__prices {
  margin-top: 35px;
}

.order-inner {
  display: flex;
  justify-content: space-between;
}

.order__prices-inner {
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 10px;
  width: 292px;
  height: auto;
}

.my_btn {
  text-align: center;
  border: none;
  color: white;
  background-color: #2967ff;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  margin-top: 15px;
}

.order__form {
  margin-top: 30px;
}

.order__form_inputs {
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.order-inner span {
  color: #727280;
}

.header_inp {
  border: none;
  outline: none;
  width: 260px;
  height: 29px;
}

.header__search {
  display: flex;
  align-items: center;
}
